@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  * {
    scrollbar-width: thin; /* auto | thin | none */
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* thumb, track */
  }

  :root {
    --background: #ffffff;
    --foreground: #171717;

    /* 스크롤바용 공통 변수 (라이트 모드 기본) */
    --scrollbar-thumb: #d1d5db;
    --scrollbar-track: transparent;
  }

  /* 시스템 다크 모드일 때 */
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;

      /* 다크 모드 스크롤바 색 */
      --scrollbar-thumb: #374151;
      --scrollbar-track: transparent;
    }
  }

  /* WebKit 계열 (Chrome / Edge / Safari) */
  ::-webkit-scrollbar {
    @apply h-[10px] w-[10px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply dark:bg-gray-800 bg-gray-300;
    border-radius: 8px;
    border: 2px solid transparent; /* 여백 느낌 */
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply dark:bg-gray-900 bg-gray-400;
  }

  /* Tailwind v4 Inline Theme 설정 */
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
    --font-mono: var(--font-geist-mono);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  }

  button {
    @apply cursor-pointer disabled:cursor-default;
  }

  select,
  select option {
    @apply cursor-pointer disabled:cursor-default;
  }

  .rd3t-link:hover {
    stroke-width: 2px;
    opacity: 1;
  }

  /* Chrome / Edge 등 WebKit 계열에서 datetime-local 기본 아이콘 숨기기 */
  input[type='datetime-local']::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

}

/* tailwind base/components/utilities import 아래 어딘가 */
@layer utilities {
  /* 가로/세로 공통: 스크롤은 유지, 막대만 숨김 */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge(레거시) */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari/WebKit */
  }
}

